# IMPORT LIBARAY

In [1]:
import pandas as pd
import numpy as np
import os
import glob
import datetime
import warnings
warnings.filterwarnings('ignore')

from collections import Counter
from scipy import interpolate

import matplotlib.pyplot as plt
import matplotlib.font_manager as fm
import seaborn as sns
import plotly.graph_objects as go
from matplotlib import dates
from plotly.subplots import make_subplots
import plotly
import plotly.express as px
pd.options.display.float_format = '{:.5f}'.format

import FinanceDataReader as fdr

from sklearn.preprocessing import MinMaxScaler

# os.getcwd()
### 설치된 폰트 출력
font_list = [font.name for font in fm.fontManager.ttflist]
font_list
plt.rc("font", family="DejaVu Sans")
parameters = {'axes.labelsize': 20,
          'axes.titlesize': 25,
          'xtick.labelsize': 20,
          'ytick.labelsize': 20,
        'legend.fontsize': 20,
          }
plt.rcParams.update(parameters)
plt.rcParams['font.family'] = 'DejaVu Sans'

current_dir = os.getcwd()
plt.style.use("seaborn-dark")
plt.rcParams['font.family'] = 'DejaVu Sans'

In [2]:
root_path = '../../../'
current_dir = os.getcwd()

master_path = os.path.join(root_path, '01. Data','00. master_data')
rawfile_path = os.path.join(master_path, "result_xlsx")

out_path = os.path.join(root_path, '01. Data','02. 재무지표2', '01. preprocessed')

# 결측처리 및 컬럼 처리

In [3]:
desc = pd.read_excel(os.path.join(master_path, "desc_v2.2.xlsx"), sheet_name='desc', header=0, usecols=['no','raw','variable','group','importance'])
desc.head(2)

                         raw  no                   variable group  importance
0                     Date_x   1                     Date_x    DT           9
1  BS_Earnings Quality Score   2  BS_Earnings Quality Score    BS           5

In [4]:
# desc 데이터 기준, group이 한글인 경우(재무팀에서 뽑아준 항목들) + 전체(영어 포함)를 target variable로 가져감
# target_variable = desc.loc[~desc['group'].apply(lambda x: x.encode().isalpha()),"variable"].values.tolist()

dic_group = dict()
for _, xcol in enumerate(desc['variable'].values):
    dic_group[xcol] = desc.loc[_,'group']


dic_imp = dict()
for _, xcol in enumerate(desc['variable'].values):
    dic_imp[xcol] = desc.loc[_,'importance']



dic_name = dict()
for _, xcol in enumerate(desc['raw'].values):
    dic_name[xcol] = desc.loc[_, 'variable']

dic_name['Dividend Yield - Common Stock - Net - Issue Specific - %, TTM.1'] = "FS_Dividend Yield - Common Stock - Net - Issue Specific - %, TTM.1"
dic_name['Dividend Yield - Common Stock - Net - Issue Specific - %, TTM.2'] = "FS_Dividend Yield - Common Stock - Net - Issue Specific - %, TTM.2"
dic_name['Dividend Yield - Common Stock - Net - Issue Specific - %, TTM.3'] = "FS_Dividend Yield - Common Stock - Net - Issue Specific - %, TTM.3"

dic_name['IS_Other, Net.1'] = "IS_Other, Net.1"
dic_name['IS_Current Tax - Total.1'] = "IS_Current Tax - Total.1"
dic_name['IS_Deferred Tax - Total.1'] = "IS_Deferred Tax - Total.1"


# # C1, C2, C3, C4, C5
# C = ['매출액증가율(YoY)(연도)', 'Gross Investment (GI)','무형자산회전율s','매출총이익(천원)','무형자산'] 
# dic_c = {C[0]:"C1", C[1]: "C2", C[2]: "C3", C[3]:"C4", C[4]: "C5"}
# C_ = ['C1','C2','C3','C4','C5']

# Y1, Y2, Y3, Y4
Y = ['close','close_weighted','PBR','EV_EBITDA']

remove_col = ['인당매출','무형자산회전율','인당영업이익','인당순이익','투자비 대비 매출 (Rev/GI)']
ev_col = ['FS_Enterprise Value', 'EBITDA2(천원)', 'EBIT(천원)' ]

## Accenture

In [5]:
raw_file_name = "Accenture_non_shift.xlsx"

df = pd.read_excel(os.path.join(rawfile_path,raw_file_name))
df['Date_x'] = pd.to_datetime(df['Date_x']).dt.to_period('Q')
df['Date_x'] = pd.PeriodIndex(df['Date_x'], freq='Q').to_timestamp()

for col in df.columns:
    if col in list(dic_name.keys()) :
        df.rename(columns={col:dic_name[col]}, inplace=True)
        
print("before: ", df.shape)
new_df = df[df.columns.difference(remove_col)]
print("after: ", new_df.shape)

before:  (80, 383)
after:  (80, 378)

### 결측 처리

In [6]:
print("결측값 확인: ", new_df.isna().sum().sum())
for i in range(len(new_df.columns)):
    flg = 0
    for j in range(len(new_df)):
        if pd.isna(new_df.iloc[j,i]):
            flg += 1
        else:
            flg = 0
            
        if flg >= 4:
            print(new_df.columns[i])
            flg = 0
            break
print("==> 4개 이상의 결측값을 가지는 컬럼 확인")
print(new_df.shape)

결측값 확인:  127
BPS증가율(YoY)(비율)
EBITDA2증가율(YoY)(비율)
EPS증가율(YoY)(비율)
FS_Dividend Coverage - %
FS_Dividend Yield - Common Stock - Net - Issue Specific - %, TTM
ROGI(%)
매출액증가율(YoY)(연도)
순이익증가율(YoY)(비율)
영업이익증가율(YoY)(연도)
==> 4개 이상의 결측값을 가지는 컬럼 확인
(80, 378)

In [7]:
# 행별 결측 비율 확인
tmp = new_df.isna().sum(axis=1).to_frame().rename(columns={0:raw_file_name.split("_")[0]})

company = raw_file_name.split("_")[0]
tmp['ratio'] = tmp[company] / len(new_df.columns)
tmp[:10]

   Accenture   ratio
0         13 0.03439
1         13 0.03439
2         13 0.03439
3          8 0.02116
4          1 0.00265
5          1 0.00265
6          1 0.00265
7          1 0.00265
8          1 0.00265
9          1 0.00265

In [8]:
### 초기 4개의 행 삭제
new_df = new_df.loc[4:,:].reset_index(drop=True)

In [9]:
print("결측값 확인: ", new_df.isna().sum().sum())
na_cols = new_df.isna().sum()[new_df.isna().sum() > 0].index

drop_lst4 = []
for i in range(len(na_cols)):
    flg = 0
    for j in range(len(new_df)):
        if pd.isna(new_df.loc[j,na_cols[i]]):
            flg += 1
        else:
            flg = 0 
            
        if flg >= 4:
            print(na_cols[i])
            flg = 0
            drop_lst4.append(na_cols[i])
            break
            
print("4개 이상의 결측값을 가지는 컬럼 확인 ")
drop_lst4 = list(set(drop_lst4)&set(new_df.columns))
print("*------------------------------------*")
print("before: ", new_df.shape)
print("drop_lst4: ",len(drop_lst4))
new_df = new_df[new_df.columns.difference(drop_lst4)]
print("after: ", new_df.shape)

결측값 확인:  80
FS_Dividend Coverage - %
FS_Dividend Yield - Common Stock - Net - Issue Specific - %, TTM
4개 이상의 결측값을 가지는 컬럼 확인
*------------------------------------*
before:  (76, 378)
drop_lst4:  2
after:  (76, 376)

### 동일한 값인 경우 (std = 0인 경우)

In [10]:
tmp = new_df.describe().loc['std',:][new_df.describe().loc['std',:] == 0].index
TF = new_df.describe().loc['min',:] == new_df.describe().loc['max',:]
tmp1 = new_df.describe().loc[:,TF].columns.values.tolist()

tmp = list(set(tmp) | set(tmp1))
tmp = list(set(tmp) & set(new_df.columns))

drop_lst1 = list(tmp)

print("before: ", new_df.shape)
print("drop_lst: ",len(list(drop_lst1)))
new_df = new_df[new_df.columns.difference(drop_lst1)]
print("after: ", new_df.shape)

drop_lst1

before:  (76, 376)
drop_lst:  34
after:  (76, 342)

['BS_Common Stock, Total',
 'IS_Actuarial Gains and Losses - Post-Retir.',
 'IS_Service Cost - Post-Retirement',
 'BS_Treasury Shares - Common Issue 3',
 'IS_Prior Service Cost - Foreign',
 'IS_Labor & Related Expense',
 'IS_Actuarial Gains and Losses - Foreign',
 'IS_Interest Cost - Post-Retirement',
 'CF_Amortization of Intangibles',
 'BS_Shares Outstanding - Common Issue 3',
 'BS_Common Stock',
 'BS_Long Term Debt Maturing in Year 2',
 'IS_Accounting Change',
 'CF_Equity in Net Earnings (Loss)',
 'BS_Long Term Debt Maturing in Year 4',
 'IS_Expected Return on Assets - Post-Retir.',
 'BS_Long Term Debt Maturing in 2-3 Years',
 'CF_Accounting Change',
 'BS_Long Term Debt Maturing in 4-5 Years',
 'BS_Long Term Debt Matur. in Year 6 & Beyond',
 'CF_Amortization',
 'BS_Long Term Debt Maturing in Year 3',
 'IS_Dividends per Share - Com Stock Issue 2',
 'BS_Long Term Debt Maturing in Year 5',
 'BS_Treasury Shares - Common Issue 2',
 'CF_Purchase/Acquisition of Intangibles',
 'IS_Prior Service Cost - Post-Retirement',
 'CF_Other Assets & Liabilities, Net',
 'IS_Litigation',
 'IS_Prior Service Cost - Domestic',
 '자본금(천원)',
 'IS_Curtailments & Settlements - Post-Retir.',
 'IS_Actuarial Gains and Losses - Domestic',
 'IS_Transition Costs - Post-Retirement']

### importance=9 인 경우

In [11]:
drop_lst2 = ['Sum of 종가*거래량','Sum of Volume','인력수','close','close_weighted','PBR']
drop_lst2 = list(set(drop_lst2)&set(new_df.columns))
print("before: ", new_df.shape)
print("drop_lst2: ",len(drop_lst2))
new_df = new_df[new_df.columns.difference(drop_lst2)]
print("after: ", new_df.shape)

drop_lst2

before:  (76, 342)
drop_lst2:  4
after:  (76, 338)

['PBR', '인력수', 'close_weighted', 'close']

### 종속 변수에 사용되는 경우

In [12]:
print("before: ", new_df.shape)
new_df = new_df[new_df.columns.difference(ev_col)]
print("after: ", new_df.shape)

before:  (76, 338)
after:  (76, 335)

### 최빈값 60% 초과인 경우

In [13]:
drop_lst3 = []
leng = len(new_df)
for i in new_df.columns:
    data = Counter(new_df[i])
    if data.most_common(1)[0][1] > (leng * 0.6) :
        drop_lst3.append(i)

drop_lst3 = list(set(drop_lst3)&set(new_df.columns))
print("before: ", new_df.shape)
print("drop_lst3: ",len(drop_lst3))
new_df = new_df[new_df.columns.difference(drop_lst3)]
print("after: ", new_df.shape)
drop_lst3

before:  (76, 335)
drop_lst3:  43
after:  (76, 292)

['IS_Service Cost - Foreign',
 'IS_Amort of Intangibles, Supplemental',
 'IS_Curtailments & Settlements - Foreign',
 'BS_Curr Port of LT Operating Leases, Suppl.',
 'CF_Short Term Debt Reduction',
 'IS_Rental Expense, Supplemental',
 'BS_Contract Assets - Short Term',
 'IS_Extraordinary Item',
 'IS_Total Plan Interest Cost',
 'BS_Other Property/Plant/Equipment - Net',
 'IS_Income Taxes - Non-Recurring Tax Change',
 'BS_Revolving Line of Credit - Outstanding',
 'IS_Other Unusual Expense (Income)',
 'IS_Service Cost - Domestic',
 'IS_Expected Return on Assets - Domestic',
 'IS_Interest Cost - Domestic',
 'BS_Long-Term Operating Lease Liabs., Suppl.',
 'CF_Short Term Debt Issued',
 'CF_Long Term Debt Issued',
 'IS_Pro Forma Stock Compensation Expense',
 'BS_Notes Payable/Short Term Debt',
 'IS_Interest Cost - Foreign',
 'BS_Long Term Debt Maturing within 1 Year',
 'IS_Net Income after Stock Based Comp. Exp.',
 'IS_Post-Retirement Plan Expense',
 'BS_Operating Leases - Interest Cost',
 'BS_Right-of-Use Assets-Op.Lease, Net-Suppl.',
 'IS_Diluted EPS after Stock Based Comp. Exp.',
 'IS_Basic EPS after Stock Based Comp. Exp.',
 'IS_Total Pension Expense',
 'IS_Total Extraordinary Items',
 'IS_Total Plan Expected Return',
 'IS_Domestic Pension Plan Expense',
 'BS_Restricted Cash - Current',
 'IS_Total Plan Service Cost',
 'BS_LT Investment - Affiliate Companies',
 'BS_Total Long Term Debt, Supplemental',
 'CF_Other Investing Cash Flow',
 'BS_Rvlvng Line of Credit - Principal Amount',
 'BS_Unrealized Gain (Loss)',
 'IS_Curtailments & Settlements - Domestic',
 'IS_Expected Return on Assets - Foreign',
 'IS_Foreign Pension Plan Expense']

### 나머지 결측은 선형 보간

In [14]:
# 선형 보간
print("결측값 확인(before): ", new_df.isna().sum().sum())
for _, col in enumerate(new_df.columns):
    if col != "Date_x":
        new_df[col] = new_df[col].interpolate(method='linear')

print("~~선형 보간 적용~~")
print("결측값 확인(after): ", new_df.isna().sum().sum())

결측값 확인(before):  2
~~선형 보간 적용~~
결측값 확인(after):  0

In [15]:
# 이 때, 편의를 위해 "Date_x" 변수를 맨 앞으로, Y1~Y4 변수는 맨 뒤로 위치시킴
col_ = new_df.pop("Date_x")
new_df.insert(0, col_.name, col_)

col_ = new_df.pop("EV_EBITDA")
new_df.insert(new_df.shape[1], col_.name, col_)
# for i in range(len(Y)):
#     col_ = new_df.pop(Y[i])
#     new_df.insert(new_df.shape[1], col_.name, col_)

print("new_df.shape: ",new_df.shape)
print("결측 개수: ", new_df.isna().sum().sum())
new_df.head(2)

new_df.shape:  (76, 292)
결측 개수:  0

,Date_x,"BPS(지배, Adj.)(원/주)",BPS증가율(YoY)(비율),BS_Accounts Payable,"BS_Accounts Receivable - Trade, Gross","BS_Accounts Receivable - Trade, Net",BS_Accrued Expenses,"BS_Accumulated Depreciation, Total","BS_Accumulated Intangible Amort, Suppl.",BS_Accumulated Intangible Amortization,...,인당순이익s,인당영업이익s,자기자본비율,자산총계(천원),재고자산회전율(비율),채무총계,총자산회전율(비율),투자비 대비 매출 (Rev/GI)s,현금배당성향(%),EV_EBITDA
0,2003-07-01,14.20292,-0.41881,573,1703,2245,1319,-1220,177,-177,...,0.00618,0.01924,12.86577,6459,0.68731,60,1.98000,-49.33851,0.00000,4.37000
1,2003-10-01,11.97411,-0.11801,497,1703,2490,1454,-1220,177,-177,...,0.00658,0.01963,15.51544,6703,0.68050,50,1.97000,-32.43158,0.00000,6.31000

### 제외 컬럼

In [16]:
drop_lst0 = pd.DataFrame({'drop_cols':remove_col, 'part':'중복되는 컬럼'})
drop_lst00 = pd.DataFrame({'drop_cols':ev_col, 'part':'종속변수 생성에 사용'})
drop_lst1 = pd.DataFrame({'drop_cols':drop_lst1, 'part':'동일한 값'})
drop_lst2 = pd.DataFrame({'drop_cols':drop_lst2, 'part':'importance9'})
drop_lst3 = pd.DataFrame({'drop_cols':drop_lst3, 'part':'최빈값60%초과'})
drop_lst4 = pd.DataFrame({'drop_cols':drop_lst4, 'part':'4개 이상의 결측'})

drop_cols = pd.concat([drop_lst0,drop_lst00,drop_lst1,drop_lst2,drop_lst3, drop_lst4], axis=0).reset_index(drop=True)
drop_cols['group'] = drop_cols['drop_cols'].map(dic_group)
drop_cols['importance'] = drop_cols['drop_cols'].map(dic_imp)
print("drop_col num: ", len(drop_cols))
drop_cols

drop_col num:  91

,drop_cols,part,group,importance
0,인당매출,중복되는 컬럼,NaN,NaN
1,무형자산회전율,중복되는 컬럼,NaN,NaN
2,인당영업이익,중복되는 컬럼,NaN,NaN
3,인당순이익,중복되는 컬럼,NaN,NaN
4,투자비 대비 매출 (Rev/GI),중복되는 컬럼,NaN,NaN
...,...,...,...,...
86,IS_Curtailments & Settlements - Domestic,최빈값60%초과,IS,5.00000
87,IS_Expected Return on Assets - Foreign,최빈값60%초과,IS,5.00000
88,IS_Foreign Pension Plan Expense,최빈값60%초과,IS,5.00000
89,FS_Dividend Coverage - %,4개 이상의 결측,FS,5.00000
90,FS_Dividend Yield - Common Stock - Net - Issue...,4개 이상의 결측,FS,5.00000

### 파일 내보내기

In [17]:
### 최종 dataset을 csv, xlsx 파일로 out ###
new_df.to_csv(os.path.join(out_path, raw_file_name.split('.')[0] + "_clean_total_v1.1.csv"), index=False, encoding='utf-8')
new_df.to_excel(os.path.join(out_path, raw_file_name.split('.')[0] + "_clean_total_v1.1.xlsx"), index=False)

drop_cols.to_excel(os.path.join(out_path, raw_file_name.split('.')[0] + "_dropcols_v1.1.xlsx"), index=False)

## Infosys

In [18]:
raw_file_name = "Infosys_non_shift.xlsx"

df = pd.read_excel(os.path.join(rawfile_path,raw_file_name))
df['Date_x'] = pd.to_datetime(df['Date_x']).dt.to_period('Q')
df['Date_x'] = pd.PeriodIndex(df['Date_x'], freq='Q').to_timestamp()

for col in df.columns:
    if col in list(dic_name.keys()) :
        df.rename(columns={col:dic_name[col]}, inplace=True)
        
print("before: ", df.shape)
new_df = df[df.columns.difference(remove_col)]
print("after: ", new_df.shape)

before:  (80, 415)
after:  (80, 410)

### 결측 처리

In [19]:
print("결측값 확인: ", new_df.isna().sum().sum())
for i in range(len(new_df.columns)):
    flg = 0
    for j in range(len(new_df)):
        if pd.isna(new_df.iloc[j,i]):
            flg += 1
        else:
            flg = 0
            
        if flg >= 4:
            print(new_df.columns[i])
            flg = 0
            break
print("==> 4개 이상의 결측값을 가지는 컬럼 확인")
print(new_df.shape)

결측값 확인:  674
BPS증가율(YoY)(비율)
EBITDA2증가율(YoY)(비율)
EPS증가율(YoY)(비율)
FS_Accounts Receivable Turnover, TTM
FS_Asset Turnover, TTM
FS_Average Inventory Days, TTM
FS_Average Net Trade Cycle Days, TTM
FS_Average Payables Payment Days, TTM
FS_Average Receivables Collection Days, TTM
FS_Debt - Total
FS_Interest Coverage Ratio
FS_Inventory Turnover, TTM
FS_Payables Turnover, TTM
FS_Preferred Shareholders Equity
FS_Pretax ROA - %, TTM
FS_Pretax ROE - %, TTM
FS_ROA
FS_ROE
FS_ROIC
FS_Reinvestment Rate - %, TTM
FS_Total Assets to Total Shareholders Equity - including Minority Interest & Hybrid Debt, Average TTM
FS_Total Debt Percentage of Total Assets
FS_Total Debt Percentage of Total Capital
FS_Total Debt Percentage of Total Equity
Minority Interest - Total
ROA(비율)
ROE(지배)(비율)
ROGI(%)
매출액증가율(YoY)(연도)
순이익증가율(YoY)(비율)
영업이익증가율(YoY)(연도)
총자산회전율(비율)
==> 4개 이상의 결측값을 가지는 컬럼 확인
(80, 410)

In [20]:
# 행별 결측 비율 확인
tmp = new_df.isna().sum(axis=1).to_frame().rename(columns={0:raw_file_name.split("_")[0]})

company = raw_file_name.split("_")[0]
tmp['ratio'] = tmp[company] / len(new_df.columns)
tmp[:10]

   Infosys   ratio
0       46 0.11220
1       45 0.10976
2       46 0.11220
3       31 0.07561
4       11 0.02683
5       10 0.02439
6       11 0.02683
7       10 0.02439
8       10 0.02439
9        9 0.02195

In [21]:
### 초기 5개의 행 삭제
new_df = new_df.loc[5:,:].reset_index(drop=True)

In [22]:
print("결측값 확인: ", new_df.isna().sum().sum())
na_cols = new_df.isna().sum()[new_df.isna().sum() > 0].index

drop_lst4 = []
for i in range(len(na_cols)):
    flg = 0
    for j in range(len(new_df)):
        if pd.isna(new_df.loc[j,na_cols[i]]):
            flg += 1
        else:
            flg = 0 
            
        if flg >= 4:
            print(na_cols[i])
            flg = 0
            drop_lst4.append(na_cols[i])
            break
            
print("4개 이상의 결측값을 가지는 컬럼 확인 ")
drop_lst4 = list(set(drop_lst4)&set(new_df.columns))
print("*------------------------------------*")
print("before: ", new_df.shape)
print("drop_lst4: ",len(drop_lst4))
new_df = new_df[new_df.columns.difference(drop_lst4)]
print("after: ", new_df.shape)

결측값 확인:  495
FS_Average Inventory Days, TTM
FS_Average Payables Payment Days, TTM
FS_Debt - Total
FS_Interest Coverage Ratio
FS_Inventory Turnover, TTM
FS_Payables Turnover, TTM
FS_Preferred Shareholders Equity
FS_Total Debt Percentage of Total Assets
FS_Total Debt Percentage of Total Capital
FS_Total Debt Percentage of Total Equity
Minority Interest - Total
4개 이상의 결측값을 가지는 컬럼 확인
*------------------------------------*
before:  (75, 410)
drop_lst4:  11
after:  (75, 399)

### 동일한 값인 경우 (std = 0인 경우)

In [23]:
tmp = new_df.describe().loc['std',:][new_df.describe().loc['std',:] == 0].index
TF = new_df.describe().loc['min',:] == new_df.describe().loc['max',:]
tmp1 = new_df.describe().loc[:,TF].columns.values.tolist()

tmp = list(set(tmp) | set(tmp1))
tmp = list(set(tmp) & set(new_df.columns))

drop_lst1 = list(tmp)

print("before: ", new_df.shape)
print("drop_lst: ",len(list(drop_lst1)))
new_df = new_df[new_df.columns.difference(drop_lst1)]
print("after: ", new_df.shape)

drop_lst1

before:  (75, 399)
drop_lst:  11
after:  (75, 388)

['IS_Interest Expense, Net - Operating',
 'IS_Total Adjustments to Net Income',
 'IS_Interest Expense - Operating',
 'IS_Miscellaneous Earnings Adjustment',
 'BS_Restricted Cash - Long Term',
 'IS_Interest Exp.(Inc.),Net-Operating, Total',
 'CF_Sale of Business',
 'BS_Other Investments % - Domestic',
 'BS_Deferred Income Tax - Current Asset',
 'BS_Notes Payable/Short Term Debt',
 'IS_Dilution Adjustment']

### importance=9 인 경우

In [24]:
drop_lst2 = ['Sum of 종가*거래량','Sum of Volume','인력수','close','close_weighted','PBR']
drop_lst2 = list(set(drop_lst2)&set(new_df.columns))
print("before: ", new_df.shape)
print("drop_lst2: ",len(drop_lst2))
new_df = new_df[new_df.columns.difference(drop_lst2)]
print("after: ", new_df.shape)

drop_lst2

before:  (75, 388)
drop_lst2:  4
after:  (75, 384)

['PBR', '인력수', 'close_weighted', 'close']

### 종속 변수에 사용되는 경우

In [25]:
print("before: ", new_df.shape)
new_df = new_df[new_df.columns.difference(ev_col)]
print("after: ", new_df.shape)

before:  (75, 384)
after:  (75, 381)

### 최빈값 60% 초과인 경우

In [26]:
Counter(new_df['무형자산']).most_common(1)[0][1] / len(new_df)

0.56

In [27]:
drop_lst3 = []
leng = len(new_df)
for i in new_df.columns:
    data = Counter(new_df[i])
    if data.most_common(1)[0][1] > (leng * 0.6) :
        drop_lst3.append(i)

drop_lst3 = list(set(drop_lst3)&set(new_df.columns))
print("before: ", new_df.shape)
print("drop_lst3: ",len(drop_lst3))
new_df = new_df[new_df.columns.difference(drop_lst3)]
print("after: ", new_df.shape)
drop_lst3

before:  (75, 381)
drop_lst3:  74
after:  (75, 307)

['CF_Issuance (Retirement) of Debt, Net',
 'BS_Capital Lease Payments Due in 2-3 Years',
 'IS_Current Tax - Total.1',
 'CF_Sale of Intangible Assets',
 'BS_Curr. Port. of LT Capital Leases, Suppl.',
 'BS_Contract Assets - Long Term',
 'CF_Long Term Debt Reduction',
 'CF_Sale of Fixed Assets',
 'IS_Interest Expense, Net Non-Operating',
 'BS_Capital Lease Payments Due in Year 4',
 'BS_Discountinued Operations - Current Asset',
 'CF_Preferred Stock, Net',
 'BS_Cap. Lease Pymts. Due in Year 6 & Beyond',
 'IS_Impairment-Assets Held for Use',
 'CF_Common Stock, Net',
 'IS_(Gain) Loss on Sale of Assets, Suppl.',
 'IS_Extraordinary Item',
 'BS_Right-of-Use Assets-Cap.Lease,Gross-Sup.',
 'IS_Other Unusual Expense (Income)',
 'IS_Special DPS - Common Stock Primary Issue',
 '채무총계',
 'BS_Convertible Preferred Stock - Non Rdmbl',
 'BS_Minority Interest',
 'CF_Repurchase/Retirement of Common',
 'BS_Treas Shares - Common Stock Prmry Issue',
 'IS_Depreciation/Amortization',
 'BS_Preferred Stock - Non Redeemable, Net',
 'BS_Accrued Liabilities - Domestic',
 'BS_Capital Lease Obligations',
 'IS_Stock-Based Compensation, Supplemental',
 'CF_Other Assets',
 'IS_Pro Forma Stock Compensation Expense',
 'IS_Depreciation of Right-of-Use Assets,Sup.',
 'IS_Deferred Tax - Total.1',
 'IS_Minority Interest',
 'IS_Net Income after Stock Based Comp. Exp.',
 'BS_Current Port. of LT Debt/Capital Leases',
 'IS_Depreciation',
 'IS_Advertising Expense',
 'BS_Other Comprehensive Income',
 'IS_Equity in Affiliates, Supplemental',
 'BS_Translation Adjustment',
 'BS_Total Debt',
 'BS_Total Capital Leases, Supplemental',
 'CF_Sale/Issuance of Common',
 'IS_Diluted EPS after Stock Based Comp. Exp.',
 'BS_Net Domestic Pension Assets',
 'BS_Total Long Term Debt',
 'BS_Capital Lease Payments Due in Year 1',
 'BS_Capital Lease Payments Due in Year 3',
 'IS_Basic EPS after Stock Based Comp. Exp.',
 'IS_Net Interest Cost - Domestic',
 'IS_Scrip Issue',
 'BS_Dividends Payable',
 'IS_Total Extraordinary Items',
 'BS_Debt Securities % - Domestic',
 'BS_Capital Lease Payments Due in Year 5',
 'IS_Audit Fees',
 'CF_Long Term Debt, Net',
 'CF_Purchase/Acquisition of Intangibles',
 'IS_Non-Recurring Items, Supplemental, Total',
 'IS_Interest Expense, Supplemental',
 'BS_LT Investment - Affiliate Companies',
 'BS_Deferred Revenue - Long Term',
 'IS_Interest Expense - Non-Operating',
 'IS_Interest Expense on Lease Liabs., Suppl.',
 'BS_Minority Interest - Non Redeemable',
 'IS_Curtailments & Settlements - Domestic',
 'BS_Discontinued Operations - Curr Liability',
 'BS_Capital Lease Payments Due in Year 2',
 'IS_Impairment-Assets Held for Sale',
 'IS_Actuarial Gains and Losses - Domestic',
 'BS_Capital Lease Payments Due in 4-5 Years',
 'IS_Minority Interest, Supplemental']

### 나머지 결측은 선형 보간

In [28]:
# 선형 보간
print("결측값 확인(before): ", new_df.isna().sum().sum())
for _, col in enumerate(new_df.columns):
    if col != "Date_x":
        new_df[col] = new_df[col].interpolate(method='linear')

print("~~선형 보간 적용~~")
print("결측값 확인(after): ", new_df.isna().sum().sum())

결측값 확인(before):  61
~~선형 보간 적용~~
결측값 확인(after):  0

In [29]:
# 이 때, 편의를 위해 "Date_x" 변수를 맨 앞으로, Y1~Y4 변수는 맨 뒤로 위치시킴
col_ = new_df.pop("Date_x")
new_df.insert(0, col_.name, col_)

col_ = new_df.pop("EV_EBITDA")
new_df.insert(new_df.shape[1], col_.name, col_)
# for i in range(len(Y)):
#     col_ = new_df.pop(Y[i])
#     new_df.insert(new_df.shape[1], col_.name, col_)

print("new_df.shape: ",new_df.shape)
print("결측 개수: ", new_df.isna().sum().sum())
new_df.head(2)

new_df.shape:  (75, 307)
결측 개수:  0

,Date_x,"BPS(지배, Adj.)(원/주)",BPS증가율(YoY)(비율),BS_Accounts Payable,"BS_Accounts Receivable - Trade, Gross","BS_Accounts Receivable - Trade, Net",BS_Accrued Expenses,"BS_Accumulated Depreciation, Total","BS_Accumulated Intangible Amort, Suppl.",BS_Accumulated Intangible Amortization,...,인당순이익s,인당영업이익s,자기자본비율,자본금(천원),자산총계(천원),재고자산회전율(비율),총자산회전율(비율),투자비 대비 매출 (Rev/GI)s,현금배당성향(%),EV_EBITDA
0,2003-07-01,10.30660,0.26789,1,307,130,72,-151,2,0,...,0.01623,0.01773,82.44444,7,900,0.40764,1.16000,1.79815,0.31908,17.93000
1,2003-10-01,10.54978,0.12981,1,307,153,72,-164,2,0,...,0.01585,0.01711,81.71937,7,1012,0.40218,1.13000,1.78511,0.00000,21.11000

### 제외 컬럼

In [30]:
drop_lst0 = pd.DataFrame({'drop_cols':remove_col, 'part':'중복되는 컬럼'})
drop_lst00 = pd.DataFrame({'drop_cols':ev_col, 'part':'종속변수 생성에 사용'})
drop_lst1 = pd.DataFrame({'drop_cols':drop_lst1, 'part':'동일한 값'})
drop_lst2 = pd.DataFrame({'drop_cols':drop_lst2, 'part':'importance9'})
drop_lst3 = pd.DataFrame({'drop_cols':drop_lst3, 'part':'최빈값60%초과'})
drop_lst4 = pd.DataFrame({'drop_cols':drop_lst4, 'part':'4개 이상의 결측'})

drop_cols = pd.concat([drop_lst0,drop_lst00,drop_lst1,drop_lst2,drop_lst3, drop_lst4], axis=0).reset_index(drop=True)
drop_cols['group'] = drop_cols['drop_cols'].map(dic_group)
drop_cols['importance'] = drop_cols['drop_cols'].map(dic_imp)
print("drop_col num: ", len(drop_cols))
drop_cols

drop_col num:  108

                                    drop_cols       part group  importance
0                                        인당매출    중복되는 컬럼   NaN         NaN
1                                     무형자산회전율    중복되는 컬럼   NaN         NaN
2                                      인당영업이익    중복되는 컬럼   NaN         NaN
3                                       인당순이익    중복되는 컬럼   NaN         NaN
4                          투자비 대비 매출 (Rev/GI)    중복되는 컬럼   NaN         NaN
..                                        ...        ...   ...         ...
103            FS_Average Inventory Days, TTM  4개 이상의 결측    FS     5.00000
104  FS_Total Debt Percentage of Total Equity  4개 이상의 결측    FS     5.00000
105  FS_Total Debt Percentage of Total Assets  4개 이상의 결측    FS     5.00000
106     FS_Average Payables Payment Days, TTM  4개 이상의 결측    DL     9.00000
107                           FS_Debt - Total  4개 이상의 결측    FS     5.00000

[108 rows x 4 columns]

### 파일 내보내기

In [31]:
### 최종 dataset을 csv, xlsx 파일로 out ###
new_df.to_csv(os.path.join(out_path, raw_file_name.split('.')[0] + "_clean_total_v1.1.csv"), index=False, encoding='utf-8')
new_df.to_excel(os.path.join(out_path, raw_file_name.split('.')[0] + "_clean_total_v1.1.xlsx"), index=False)

drop_cols.to_excel(os.path.join(out_path, raw_file_name.split('.')[0] + "_dropcols_v1.1.xlsx"), index=False)

## TCS

In [32]:
raw_file_name = "TCS_non_shift.xlsx"

df = pd.read_excel(os.path.join(rawfile_path,raw_file_name))
df['Date_x'] = pd.to_datetime(df['Date_x']).dt.to_period('Q')
df['Date_x'] = pd.PeriodIndex(df['Date_x'], freq='Q').to_timestamp()

for col in df.columns:
    if col in list(dic_name.keys()) :
        df.rename(columns={col:dic_name[col]}, inplace=True)
        
print("before: ", df.shape)
new_df = df[df.columns.difference(remove_col)]
print("after: ", new_df.shape)

before:  (68, 395)
after:  (68, 390)

### 결측 처리

In [33]:
print("결측값 확인: ", new_df.isna().sum().sum())
for i in range(len(new_df.columns)):
    flg = 0
    for j in range(len(new_df)):
        if pd.isna(new_df.iloc[j,i]):
            flg += 1
        else:
            flg = 0
            
        if flg >= 4:
            print(new_df.columns[i])
            flg = 0
            break
print("==> 4개 이상의 결측값을 가지는 컬럼 확인")
print(new_df.shape)

결측값 확인:  440
BPS증가율(YoY)(비율)
EBITDA2증가율(YoY)(비율)
EPS증가율(YoY)(비율)
FS_Accounts Receivable Turnover, TTM
FS_Asset Turnover, TTM
FS_Average Inventory Days, TTM
FS_Average Net Trade Cycle Days, TTM
FS_Average Payables Payment Days, TTM
FS_Average Receivables Collection Days, TTM
FS_Depreciation, Depletion & Amortization including Impairment - Cash Flow - to Reconcile
FS_Inventory Turnover, TTM
FS_Payables Turnover, TTM
FS_Preferred Shareholders Equity
FS_Pretax ROA - %, TTM
FS_Pretax ROE - %, TTM
FS_ROA
FS_ROE
FS_ROIC
FS_Reinvestment Rate - %, TTM
FS_Total Assets to Total Shareholders Equity - including Minority Interest & Hybrid Debt, Average TTM
ROA(비율)
ROE(지배)(비율)
ROGI(%)
매출액증가율(YoY)(연도)
순이익증가율(YoY)(비율)
영업이익증가율(YoY)(연도)
총자산회전율(비율)
==> 4개 이상의 결측값을 가지는 컬럼 확인
(68, 390)

In [34]:
# 행별 결측 비율 확인
tmp = new_df.isna().sum(axis=1).to_frame().rename(columns={0:raw_file_name.split("_")[0]})

company = raw_file_name.split("_")[0]
tmp['ratio'] = tmp[company] / len(new_df.columns)
tmp[:10]

   TCS   ratio
0   51 0.13077
1   33 0.08462
2   33 0.08462
3   27 0.06923
4   20 0.05128
5   37 0.09487
6    2 0.00513
7    2 0.00513
8    2 0.00513
9   20 0.05128

In [35]:
### 초기 6개의 행 삭제
new_df = new_df.loc[6:,:].reset_index(drop=True)

In [36]:
print("결측값 확인: ", new_df.isna().sum().sum())
na_cols = new_df.isna().sum()[new_df.isna().sum() > 0].index

drop_lst4 = []
for i in range(len(na_cols)):
    flg = 0
    for j in range(len(new_df)):
        if pd.isna(new_df.loc[j,na_cols[i]]):
            flg += 1
        else:
            flg = 0 
            
        if flg >= 4:
            print(na_cols[i])
            flg = 0
            drop_lst4.append(na_cols[i])
            break
            
print("4개 이상의 결측값을 가지는 컬럼 확인 ")
drop_lst4 = list(set(drop_lst4)&set(new_df.columns))
print("*------------------------------------*")
print("before: ", new_df.shape)
print("drop_lst4: ",len(drop_lst4))
new_df = new_df[new_df.columns.difference(drop_lst4)]
print("after: ", new_df.shape)

결측값 확인:  239
FS_Depreciation, Depletion & Amortization including Impairment - Cash Flow - to Reconcile
FS_Preferred Shareholders Equity
4개 이상의 결측값을 가지는 컬럼 확인
*------------------------------------*
before:  (62, 390)
drop_lst4:  2
after:  (62, 388)

### 동일한 값인 경우 (std = 0인 경우)

In [37]:
tmp = new_df.describe().loc['std',:][new_df.describe().loc['std',:] == 0].index
TF = new_df.describe().loc['min',:] == new_df.describe().loc['max',:]
tmp1 = new_df.describe().loc[:,TF].columns.values.tolist()

tmp = list(set(tmp) | set(tmp1))
tmp = list(set(tmp) & set(new_df.columns))

drop_lst1 = list(tmp)

print("before: ", new_df.shape)
print("drop_lst: ",len(list(drop_lst1)))
new_df = new_df[new_df.columns.difference(drop_lst1)]
print("after: ", new_df.shape)

drop_lst1

before:  (62, 388)
drop_lst:  17
after:  (62, 371)

['BS_Operating Lease Payments Due in Year 2',
 'BS_Operating Lease Payments Due in Year 5',
 'BS_Operating Lease Payments Due in Year 1',
 'BS_Deferred Income Tax - Current Liability',
 'BS_Long Term Debt Matur. in Year 6 & Beyond',
 'IS_Miscellaneous Earnings Adjustment',
 'BS_Long-Term Operating Lease Liabs., Suppl.',
 'CF_Sale/Issuance of Preferred',
 'BS_Total Operating Leases, Supplemental',
 'BS_Oper. Lse. Pymts. Due in Year 6 & Beyond',
 'CF_Short Term Debt Reduction',
 'BS_Operating Lease Pymts. Due in 2-3 Years',
 'BS_Operating Lease Payments Due in Year 3',
 'BS_Operating Lease Pymts. Due in 4-5 Years',
 'IS_Scrip Issue',
 'BS_Treasury Shares - Preferred Issue 1',
 'BS_Operating Lease Payments Due in Year 4']

### importance=9 인 경우

In [38]:
drop_lst2 = ['Sum of 종가*거래량','Sum of Volume','인력수','close','close_weighted','PBR']
drop_lst2 = list(set(drop_lst2)&set(new_df.columns))
print("before: ", new_df.shape)
print("drop_lst2: ",len(drop_lst2))
new_df = new_df[new_df.columns.difference(drop_lst2)]
print("after: ", new_df.shape)

drop_lst2

before:  (62, 371)
drop_lst2:  4
after:  (62, 367)

['PBR', '인력수', 'close_weighted', 'close']

### 종속 변수에 사용되는 경우

In [39]:
print("before: ", new_df.shape)
new_df = new_df[new_df.columns.difference(ev_col)]
print("after: ", new_df.shape)

before:  (62, 367)
after:  (62, 364)

### 최빈값 60% 초과인 경우

In [40]:
Counter(new_df['무형자산']).most_common(1)[0][1] / len(new_df)

0.3548387096774194

In [41]:
drop_lst3 = []
leng = len(new_df)
for i in new_df.columns:
    data = Counter(new_df[i])
    if data.most_common(1)[0][1] > (leng * 0.6) :
        drop_lst3.append(i)

drop_lst3 = list(set(drop_lst3)&set(new_df.columns))
print("before: ", new_df.shape)
print("drop_lst3: ",len(drop_lst3))
new_df = new_df[new_df.columns.difference(drop_lst3)]
print("after: ", new_df.shape)
drop_lst3

before:  (62, 364)
drop_lst3:  45
after:  (62, 319)

['CF_Sale of Intangible Assets',
 'BS_Long Term Debt',
 'BS_Contract Assets - Long Term',
 'BS_Curr Port of LT Operating Leases, Suppl.',
 'CF_Net Income/Starting Line',
 'CF_Unusual Items',
 'CF_Inventories',
 'CF_Non-Cash Items',
 'IS_Investment Income - Operating',
 'IS_Impairment-Assets Held for Use',
 'CF_Other Non-Cash Items',
 'BS_Contract Assets - Short Term',
 'BS_Right-of-Use Assets-Cap.Lease,Gross-Sup.',
 'CF_Depreciation/Depletion',
 'IS_Other Unusual Expense (Income)',
 'IS_Loss(Gain) on Sale of Assets - Operating',
 'CF_Repurchase/Retirement of Common',
 'IS_Amortization of Intangibles',
 'BS_Treas Shares - Common Stock Prmry Issue',
 'IS_Interest/Investment Income - Operating',
 'CF_Accounts Receivable',
 'CF_Other Assets',
 'IS_Depreciation of Right-of-Use Assets,Sup.',
 'BS_Treasury Stock - Common',
 'BS_Notes Payable/Short Term Debt',
 'CF_Depreciation',
 'BS_Long Term Debt Maturing within 1 Year',
 'BS_Inventories - Other',
 'CF_Other Liabilities',
 'BS_Contract Liability - Short Term',
 'IS_Equity in Affiliates, Supplemental',
 'BS_Restricted Cash - Long Term',
 'IS_Interest Exp.(Inc.),Net-Operating, Total',
 'CF_Sale/Issuance of Common',
 'CF_Net Changes in Working Capital',
 'IS_Equity In Affiliates',
 'BS_LT Investment - Affiliate Companies',
 'BS_Deferred Revenue - Long Term',
 'BS_Total Long Term Debt, Supplemental',
 'CF_Accounts Payable',
 'IS_Interest Expense on Lease Liabs., Suppl.',
 'IS_Current Tax - Domestic',
 'IS_Litigation',
 'IS_Amort of Acquisition Costs, Supplemental',
 'IS_Impairment-Assets Held for Sale']

### 나머지 결측은 선형 보간

In [42]:
# 선형 보간
print("결측값 확인(before): ", new_df.isna().sum().sum())
for _, col in enumerate(new_df.columns):
    if col != "Date_x":
        new_df[col] = new_df[col].interpolate(method='linear')

print("~~선형 보간 적용~~")
print("결측값 확인(after): ", new_df.isna().sum().sum())

결측값 확인(before):  159
~~선형 보간 적용~~
결측값 확인(after):  0

In [43]:
# 이 때, 편의를 위해 "Date_x" 변수를 맨 앞으로, Y1~Y4 변수는 맨 뒤로 위치시킴
col_ = new_df.pop("Date_x")
new_df.insert(0, col_.name, col_)

col_ = new_df.pop("EV_EBITDA")
new_df.insert(new_df.shape[1], col_.name, col_)
# for i in range(len(Y)):
#     col_ = new_df.pop(Y[i])
#     new_df.insert(new_df.shape[1], col_.name, col_)

print("new_df.shape: ",new_df.shape)
print("결측 개수: ", new_df.isna().sum().sum())
new_df.head(2)

new_df.shape:  (62, 319)
결측 개수:  0

,Date_x,"BPS(지배, Adj.)(원/주)",BPS증가율(YoY)(비율),BS_Accounts Payable,"BS_Accounts Receivable - Trade, Gross","BS_Accounts Receivable - Trade, Net",BS_Accrued Expenses,"BS_Accumulated Depreciation, Total",BS_Accumulated Goodwill Amortization,BS_Accumulated Goodwill Amortization Suppl.,...,인당영업이익s,자기자본비율,자본금(천원),자산총계(천원),재고자산회전율(비율),채무총계,총자산회전율(비율),투자비 대비 매출 (Rev/GI)s,현금배당성향(%),EV_EBITDA
0,2006-10-01,10.56255,-0.16945,310,970,1104,96,-205,-4,4,...,0.01512,68.65672,22,2680,0.66905,13,1.88000,2.45815,0.21658,24.91000
1,2007-01-01,11.39251,0.57520,320,1019,1179,85,-234,-6,6,...,0.01534,67.11344,23,3059,0.64560,118,1.71000,2.33429,0.32399,23.31000

### 제외 컬럼

In [44]:
drop_lst0 = pd.DataFrame({'drop_cols':remove_col, 'part':'중복되는 컬럼'})
drop_lst00 = pd.DataFrame({'drop_cols':ev_col, 'part':'종속변수 생성에 사용'})
drop_lst1 = pd.DataFrame({'drop_cols':drop_lst1, 'part':'동일한 값'})
drop_lst2 = pd.DataFrame({'drop_cols':drop_lst2, 'part':'importance9'})
drop_lst3 = pd.DataFrame({'drop_cols':drop_lst3, 'part':'최빈값60%초과'})
drop_lst4 = pd.DataFrame({'drop_cols':drop_lst4, 'part':'4개 이상의 결측'})

drop_cols = pd.concat([drop_lst0,drop_lst00,drop_lst1,drop_lst2,drop_lst3, drop_lst4], axis=0).reset_index(drop=True)
drop_cols['group'] = drop_cols['drop_cols'].map(dic_group)
drop_cols['importance'] = drop_cols['drop_cols'].map(dic_imp)
print("drop_col num: ", len(drop_cols))
drop_cols

drop_col num:  76

,drop_cols,part,group,importance
0,인당매출,중복되는 컬럼,NaN,NaN
1,무형자산회전율,중복되는 컬럼,NaN,NaN
2,인당영업이익,중복되는 컬럼,NaN,NaN
3,인당순이익,중복되는 컬럼,NaN,NaN
4,투자비 대비 매출 (Rev/GI),중복되는 컬럼,NaN,NaN
...,...,...,...,...
71,IS_Litigation,최빈값60%초과,IS,5.00000
72,"IS_Amort of Acquisition Costs, Supplemental",최빈값60%초과,IS,5.00000
73,IS_Impairment-Assets Held for Sale,최빈값60%초과,IS,5.00000
74,FS_Preferred Shareholders Equity,4개 이상의 결측,FS,5.00000
75,"FS_Depreciation, Depletion & Amortization incl...",4개 이상의 결측,FS,5.00000

### 파일 내보내기

In [45]:
### 최종 dataset을 csv, xlsx 파일로 out ###
new_df.to_csv(os.path.join(out_path, raw_file_name.split('.')[0] + "_clean_total_v1.1.csv"), index=False, encoding='utf-8')
new_df.to_excel(os.path.join(out_path, raw_file_name.split('.')[0] + "_clean_total_v1.1.xlsx"), index=False)

drop_cols.to_excel(os.path.join(out_path, raw_file_name.split('.')[0] + "_dropcols_v1.1.xlsx"), index=False)